*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.app{
    height: 100vh;
    width: 100%;
}
.nav-cont{
    width:100%;
    height:80px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgba(224, 58, 202, 0.413);
    -webkit-box-shadow: -1px 9px 33px -12px rgba(224, 58, 202, 0.598);
    -moz-box-shadow: -1px 9px 33px -12px rgba(224, 58, 202, 0.664);
    box-shadow: -1px 9px 33px -12px rgba(224, 58, 202, 0.616);
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    width:80%;
    height:100%;
}
.logo-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.nav-items{
    padding-top: 20px;
    display: flex;
    text-decoration: none;
    list-style: none;
}
ul>li{
    margin: 10px;
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.logo{
    width:50px;
}
.brand-name{
    font-family:cursive;
}
.top-bar{
    display: flex ;
    align-items: center;
    justify-content: space-around;
}
.cuisines{
    text-wrap:wrap;
    width:100%;
    overflow: hidden;
}
.res-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
}
.link-remove{
    text-decoration: none;
    color: black;
}
.res-card{
    width:250px;
    background-color: antiquewhite;
    border-radius: 20px;
    padding:10px;
    margin:10px;
    display: flex;
    flex-direction: column;
    height:450px;
    justify-content: space-between;
    text-decoration: none;
}
.res-card:hover{
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.4);
    transform: scale(0.95);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.res-img{
    width:100%;
    display: flex;
    
    justify-content: center;
}
.res-img > img{
    width:90%;
    border-radius: 20px;
}
.filter-btn{
    padding:10px;
    margin: 10px 20px;
    border-radius: 20px;
    border:none;
    cursor: pointer;
}
.shimmer-card{
    width:250px;
    background-color: rgba(250, 235, 215, 0.849);
    border-radius: 20px;
    padding:10px;
    margin:10px;
    display: flex;
    flex-direction: column;
    height:450px;
    justify-content: space-between;
}
.shimmer-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    
}
.shimmer-image{
    width:100%;
    border-radius: 20px;
    height:40%;
    background-color: rgb(183, 171, 156);
}
.restaurant-menu-wrapper{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.restaurant-menu{
    width:60%;
    display: flex;
    flex-direction: column;
    gap:30px;
}
.restaurant-name{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.restaurant-name>div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.restaurant-categories{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.restaurant-items{
    display: flex;
    flex-direction: column;
    width:100%;
    gap:30px;
}
.restaurant-items>h1{
    text-align: center;
    width: 100%;
    border:1px solid rgba(0, 0, 0, 0.42);
    border-radius: 20px; 
    color: midnightblue;
    font-size: xx-large;
    -webkit-box-shadow: 10px 10px 40px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 40px -20px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 40px -20px rgba(0,0,0,0.75);
}
.search-bar{
    width:300px;
    height:40px;
    border-radius: 20px;
    border:none;
    background-color: antiquewhite;
    font-size: large;
    cursor: pointer;
}