*{
    margin: 0;
    padding: 0;
}
.app{
    height: 100vh;
    width: 100%;
}
.nav-cont{
    width:100%;
    height:80px;
    display: flex;
    justify-content: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 35%, rgba(0,212,255,1) 100%);

}
.nav-bar{
    display: flex;
    justify-content: space-between;
    width:80%;
    height:10%;
}
.nav-items{
    padding-top: 20px;
    display: flex;
    text-decoration: none;
    list-style: none;
}
ul>li{
    margin: 10px;
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.logo{
    padding-top: 20px;
    width:50px;
}
.top-bar{
    display: flex ;
    align-items: center;
    justify-content: space-around;
}
.cuisines{
    text-wrap:wrap;
    width:100%;
    overflow: hidden;
}
.res-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.res-card{
    width:250px;
    background-color: antiquewhite;
    border-radius: 20px;
    padding:10px;
    margin:10px;
    display: flex;
    flex-direction: column;
    height:450px;
    justify-content: space-between;
}
.res-card:hover{
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.4);
    transform: scale(0.95);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.res-img{
    width:100%;
    display: flex;
    
    justify-content: center;
}
.res-img > img{
    width:90%;
    border-radius: 20px;
}
.filter-btn{
    padding:10px;
    margin: 10px 20px;
}
.shimmer-card{
    width:250px;
    background-color: rgba(250, 235, 215, 0.849);
    border-radius: 20px;
    padding:10px;
    margin:10px;
    display: flex;
    flex-direction: column;
    height:450px;
    justify-content: space-between;
}
.shimmer-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    
}
.shimmer-image{
    width:100%;
    border-radius: 20px;
    height:40%;
    background-color: rgb(183, 171, 156);
}